* {
  box-sizing: border-box;
  list-style: none;
}

.listHead {
  height: 100px;
}

.listHead, .listFoot {
  padding: 24px;
  margin: 0px 0px 20px;
  border-radius: 10px;
  background-color: #fff;
}

.btn {
  padding: 0 40px;
  background: linear-gradient(-90deg, #4e75ff, #0139fd) !important;
}

.bom-head {
  height: 32px;
  margin-bottom: 25px;
}

.bom-head h4 {
  float: left;
}
