* {
  box-sizing: border-box;
  list-style: none;
}

img {
  width: 100%;
}

.editBox {
  padding: 24px;
  margin: 0px 0px 20px;
  border-radius: 10px;
  background-color: #fff;
}

.content {
  padding: 40px;
  text-align: center;
}

.content .everyItem {
  text-align: left;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.content .everyItem a {
  float: right;
}

.content .btn {
  color: #fff;
  padding: 0 40px;
  background: linear-gradient(-90deg, #4e75ff, #0139fd) !important;
}
