*{
    box-sizing: border-box;
    list-style: none;
}

.listHead,.listFoot{
    padding: 24px;
    margin: 0px 0px 20px;
    border-radius: 10px;
    background-color: #fff;
}

.btn{
    padding: 0 40px;
    background: linear-gradient(-90deg,#4e75ff,#0139fd)!important;
}

.bom-head{
    height: 32px;
    margin-bottom: 25px;
    h4{
        float: left;
    }
    .btn-right{
        float: right;
        cursor: pointer;
        span{
            display: inline-block;
            border: 1px solid #d9d9d9;
            padding: 5px 15px;
            color: #1890ff;
        }
        .btn-active{
            border-color: #0139FD;
            color: #0139FD;
            
        }
    }
}