
.box{
  width: 100%;
  height: 100%;
  background-image: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1567490065255&di=e208854dcdb5492631b1ee0b50a5923b&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201305%2F26%2F20130526140022_5fMJe.jpeg');
  background-size: cover;
}
.content{
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(-10%,-50%);
}
.login-form {
    max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.main{
  background: #f0f2f5;

}